# tfplan-out, .terraform and .venv directories
tfplan-out
.terraform
__pycache__
.venv

# tfstate and .pip-installed files
*.tfstate
*.tfstate.*
.pip-installed

# secrets
.kubeconfig
.env
*kubeconfig*
*config-map*
